:global(html) {
  font-size: 10px;
}

.app {
  font-family: sans-serif;
  font-size: 1.4rem;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
  }
}